<ul name="lista_usuarios">
  <p>TODOS OS ALBUNS CADASTRADOS</p>
  <li>Nome Autor: {{autorr.nome}}</li>

  {{#each album}}
    <li>Nome: {{nome}} <a href="/deleteAlbum/{{id}}" onclick="return confirm('Tem certeza?')">Deseja excluir esse album?</a></li>
    <li><a href="/updateAlbum/{{id}}">Deseja modificar esse album?</a></li>
    <br>
  {{/each}}
</ul>