<form action="/album/{{autor_dono}}" method="post">
  <span>Nome do album: </span>
    <input type="text" name="NomeAlbum">

  <span>Nome do autor: {{autor_dono}}</span>
 
  <button type="submit">confirmar</button>
</form>
