<form action="/updateAlbum/{{album.id}}" method="POST">
  <span>Nome: </span>
    <input type="text" name="NovoNomeAlbum" value='{{album.nome}}'>
  <button type="submit">Confirmar</button>
</form>

<a href="/">Voltar</a>
